.sns_badge li {
  margin-right: 7px;
}
.sns_badge li span {
  display: inline-block;
  border: 1px solid #2ba406;
  color: #2ba406;
  padding: 0 5px;
  margin: 15px 0 10px;
}
.sns_badge span {
  font-size: 12px;
  line-height: 26px;
}

.drop_down_hidden {
  height: 1000px;
  overflow: hidden;
}
